.infoBox {
    flex: 1;
    cursor: pointer;
    background-color:#e8eded !important;
}

.infoBox:not(:last-child) {
    margin-right: 10px;
}

.infoBox--selected {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color:white !important;
    
}

.infoBox__cases--green {
    color: green !important;
}

.infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}

.infoBox__title h6 {
    color: #6c757d;
}